.navbar {
  background-color: black;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.navbar-brand {
  color: #FFC107 !important;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-toggler {
  border: none;
  color: #FFC107 !important;
}

.nav-link {
  color: #FFC107 !important;
  padding: 10px;
}

.nav-link:hover {
  transform: scale(1.2);
}

.fa-bars {
  color: #FFC107 !important;
}

h1 {
  text-transform: uppercase;
}

main {
  height: 100%;
  width: auto;
  background-image: url(multimedia/fondo\ home.jpg);
  background-size: cover;
  background-position: left;
}

.custom1 {
  background-image: url(multimedia/fondo\ home.jpg);
}

.quienesSomos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quienesSomos {
  width: 100%;
  height: 100vh;
}

.fondogeneral {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: auto;
}

.quienesSomos h1 {
  color: #FFC107;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Hind", sans-serif;
}

.quienesSomos p {
  color: #FFC107;
  margin-bottom: 40px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.quienesSomos a {
  color: #FFC107;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  border: 2px solid black;
  background-color: black;
}

.quienesSomos a:hover {
  background: none;
}

footer {
  text-align: center;
  font-size: 30px;
  background-color: black;
  color: #FFC107;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  border-top: 1px solid #FFC107;
}

footer p {
  margin-bottom: 10px;
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.redes a {
  color: #FFC107;
  font-size: 50px;
  letter-spacing: 50px;
}

.sam {
  height: 23vh;
  margin-top: auto;
  padding: 20px;
  color: #FFC107;
  margin-bottom: 50px;
}

.a1 {
  margin-top: 100px;
}

.title1 {
  color: #FFC107;
  font-size: 40px;
  font-family: "Hind", sans-serif;
  text-align: center;
  font-weight: 600;
}

.PServicios {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.metPago {
  margin-top: 20vh;
  margin-bottom: 80px;
}

.metpago {
  text-align: center;
  color: #FFC107;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  border-bottom: 1px solid black;
}

.title2 {
  text-align: center;
  color: #FFC107;
  font-size: 40px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
}

.sam a {
  color: #FFC107;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-decoration: none;
}

.sam a:hover {
  background-color: none;
}

.tituloCarousel {
  text-align: center;
  color: #FFC107;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
}

.carousel {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.carousel-inner {
  height: 300px !important;
  width: 300px !important;
  background-size: cover !important;
  background-position: center;
}

.tituloNosotros {
  margin-top: 100px;
  color: #FFC107;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
}

.parrafoNosotros {
  color: #FFC107;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.imgNosotros {
  width: auto;
  height: 350px;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin-top: 100px;
}

.a2 {
  margin-top: 100px;
}

.logoNosotrosAbajo {
  border-bottom: 1px solid black;
  color: black;
}

.fa-solid {
  color: black;
}

.fa-envelope {
  color: black;
}

.fa-whatsapp {
  color: black;
}

.tituloNosotrosAbajo {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid black;
  color: #FFC107;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
}

.parrafoNosotrosAbajo {
  color: #FFC107;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.a3 {
  margin-top: 150px;
}

.a4 {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.7019607843);
  border-radius: 15px;
}

h4 {
  text-align: center;
  color: black;
}

h6 {
  text-align: center;
  color: black;
}

.pContacto {
  text-align: center;
  color: black;
}

.titleContacto {
  font-size: 50px;
  font-family: "Hind", sans-serif;
  font-weight: 600;
  text-align: center;
}

iframe {
  width: 100%;
  margin: 0;
  padding: 100px;
}

.changes {
  margin-top: 50px;
  border-bottom: 1px solid black;
}

.nosabajo {
  margin-bottom: 150px;
}

@media only screen and (min-width: 960px) {
  .sam {
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  .title2 {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1148px) {
  .main {
    height: 100%;
    width: auto;
  }
  .fondogeneral {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 960px) {
  .sam {
    height: auto;
  }
  .parrafoNosotros {
    height: auto;
  }
  .a2 {
    height: auto;
  }
  .navbar-brand {
    text-transform: none;
  }
  .quienesSomos {
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */