.navbar{
    background-color: black ;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar-brand{
    color: #FFC107 !important;
}

.navbar-brand:hover{
    color: #555555 !important;
}

.navbar-toggler{
    border: none;
}

.nav-link{
    color: #FFC107 !important;
    padding: 10px ;
}

.nav-link:hover{
    color: #333 !important;
}

.fa-bars{
    color: #FFC107;
}

.fa-bars:hover{
    color: #333;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(../multimedia/fondo\ home.jpg);
    background-size: cover;
    background-position: left;
}

.quienesSomos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quienesSomos{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.600);
}

.quienesSomos h1{
    color: #FFC107;
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

.quienesSomos p{
    color: #FFC107;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 20px;
}

.quienesSomos a{
    color: #FFC107;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    background-color: black;
}

.quienesSomos a:hover{
    background: none;
}

footer{
    text-align: center;
    font-size: 30px;
    background-color: #000;
    color: #FFC107;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
footer p{
    margin-bottom: 10px;
}

.redes a{
    color: #FFC107;
    font-size: 50px;
    letter-spacing: 50px;
}

.sam{
    background-color: rgba(0, 0, 0, 0.314);
    height: 23vh;
    margin-top: auto;
    padding: 20px;
    color: #FFC107;
    margin-bottom: 50px;
}

.a1{
    margin-top: 100px;
}

.title1{
    text-align: left;
    color: #000;
    text-shadow: 1px 2px gray;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.PServicios{
    text-align: center;
    font-weight: 600;
}

.metPago{
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.314);
}

.metpago{
    text-align: center;
    color: black;
    text-shadow: 1px 2px gray;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.title2{
    text-align: center;
    text-shadow: 1px 2px gray;
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.sam a{
    color: #FFC107;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-decoration: none;
}

.sam a:hover{
    background-color: none;
}

@media only screen and (min-width: 960px){
    .sam{
        height: auto;
    }
}

@media only screen and (max-width: 1148px){
    .title2{
        white-space: nowrap ;
    }
}

@media only screen and (max-width: 576px){
    .sam{
        height: auto ;
    }
    
    .quienesSomos{
        text-align: center;
    }
}

















